
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #2e4e83;
    text-align: center;
    padding: 100px 20px;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 20px;
}
